{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}

    <h2 class="m-4">Create New Wiki</h2>

    <strong class="ml-4 text-danger">{{ message }}</strong>

    <form class="m-4" action="{% url 'new' %}" method="post" style="width:90%">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" value="{{ title }}">
        </div>
        <div class="form-group">
            <label for="text">Content</label>
            <textarea class="form-control" id="text" name="text" rows="16">{{ text }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>


{% endblock %}
